<html lang="en" xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<title>List Employees</title>
	  <link th:href="@{/css/main.css}" rel="stylesheet" />
		<link rel="stylesheet" 
			type="text/css" 
			href="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.css" />
		<link rel="stylesheet" 
			href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" 
			integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" 
			crossorigin="anonymous" />
	</head>
	
	<body>
	  	<button type="button" th:onclick="inputName()">ENTER NAME</button>
    <h2>Style Heading H2</h2>
    <p>
        This is text on which we want to apply <strong>very special</strong> styling.
    </p>
		<div class="container">
		
			<h3>List Employees</h3>
			
			<hr/>
			<a th:href="@{/addEmployeeForm}" class="btn btn-primary">Add Employee</a>
			<!--3) buton tıklandığında controller daki /addEmployeeForm path i olan metod tetiklenecek, 
			orada oluşturulan obje sayesinde burada veriler girilebilecek ve işe yarayacak -->
			<br/><br/>
			<table class="table table-bordered table-striped" id="employeeTable">
			
				<thead>
					<tr>
						<th>Name</th>
						<th>Email</th>
						<th>Department</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="employee: ${calisanlar}"> 
					<!--2) controller dan calisanlar ismiyle gelen verileri burada employee ismiyle kullan-->
						<td th:text="${employee.name}" />
						<td th:text="${employee.email}" />
						<td th:text="${employee.department}" />
						<td>
						 <a th:href="@{/showUpdateForm(employeeId=${employee.id})}" class="btn btn-info">Update</a>
							<a th:href="@{/deleteEmployee(employeeId=${employee.id})}" class="btn btn-danger ml-2">Delete</a>
							
							<!--buton tıklandığında controller a employee.id si, employeeId ismiyle, /deleteEmployee adresi gidiyor  -->
						</td>
					</tr>
				</tbody>
				
			</table>
		</div>
	  	<script type="text/javascript" th:src="@{/js/action.js}"></script> 
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<!-- jQuery, hızlı, küçük ve zengin özelliklere sahip bir JavaScript kitaplığıdır. Çok sayıda 
		tarayıcıda çalışan kullanımı kolay bir API ile HTML belgesi geçişi ve manipülasyonu, olay işleme, 
		animasyon ve Ajax gibi şeyleri çok daha basit hale getirir.min.js boşluklar çıkarıldı -->
		<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.js"></script>
	 	<!-- ilk satır fix, sonrakiler üstteki linklerden alınmış,aoColumnDefs  -->
	   	<script>
			$(document).ready(function() {
				$("#employeeTable").DataTable({
						'aoColumnDefs': [{
        				'bSortable': false,/*kendi sıralaması devre dışı*/
        				'aTargets': [-1] /*ilk sütunu sırala,2. için 1 , 3. için 2 */
    				}]
				});
			})
		</script>
	</body>
	
</html>